.wrap-top-movie {

    .top-movie {
        border: 1px solid var(--border-color);
        margin-top: 12px;

        .top-movie-before {
            display: flex;
            background-color: var(--outer-layout);

            .top-movie-title {
                flex: 1 1;
                padding: 11px 0px;
                font-size: 1.8rem;
                text-align: center;

                &:hover {
                    cursor: pointer;
                    background-color: var(--red-color) !important;
                    color: #eee !important;
                }
            }
        }

        .top-movie-after {
            background-color: var(--inner-color);

            .top-movie-item {
                padding: 0 12px;

                &.top-movie-item+.top-movie-item {
                    border-top: 1px solid var(--border-color);
                }

                &:hover {
                    cursor: pointer;
                    opacity: .6;
                }

                a {
                    display: flex;
                    padding: 12px 0px;

                    .wrap-img {

                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }

                    .wrap-infor {
                        margin-left: 6px;

                        h3 {
                            color: #fff;
                            margin: 0;
                            font-size: 1.6rem;
                        }

                        .wrap-infor-interact {
                            margin-top: 6px;
                            display: flex;
                            // justify-content: space-between;

                            .views {
                                display: flex;
                                align-items: center;

                                svg {
                                    color: var(--disable-color);
                                    font-size: 1.4rem;
                                }

                                span {
                                    display: block;
                                    color: var(--disable-color);
                                    font-size: 1.4rem;
                                    margin-left: 2px;
                                }

                            }


                            .likes {
                                display: flex;
                                align-items: center;
                                margin-left: 8px;

                                svg {
                                    color: var(--disable-color);
                                    font-size: 1.4rem;
                                    margin-top: -2px;
                                }

                                span {
                                    display: block;
                                    color: var(--disable-color);
                                    font-size: 1.4rem;
                                    margin-left: 2px;
                                }

                            }

                        }
                    }

                }

            }
        }

        .top-movie-all {

            a {
                font-size: 1.6rem;
                color: var(--white-color);
                padding: 4px 0;
                text-align: center;
                border-top: 1px solid var(--border-color);
                display: block;

                &:hover {
                    cursor: pointer;
                    opacity: .8;
                }
            }
        }
    }

}