.list-film {

    .wrap-heading {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;

        .topic {
            font-size: 2.2rem;
            margin: 0;
            line-height: 2.2rem;
        }

        .wrap-search {
            input {
                outline: none;
                height: 28px;
                width: 280px;
            }
        }

    }

    .wrap-list-film {
        margin-top: 24px;

        .film-item {
            padding: 36px 0 12px;
            overflow-x: auto;

            .film-item-before {
                display: flex;
                height: 184px;

                div {
                    font-size: 1.6rem;
                    height: 100%;
                    margin-left: 12px;
                    text-align: center;

                    span {
                        display: block;
                    }

                    h3 {
                        margin: 0;
                    }

                    input {
                        width: 100%;
                    }

                    textarea {
                        width: 100%;
                    }
                }

                .wrap-id {

                    span {
                        display: flex;
                        align-items: center;
                        font-size: 1.8rem;
                        height: 100%;
                    }
                }

                .wrap-image {
                    min-width: 245px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .wrap-name {
                    min-width: 162px;

                    h3 {}
                }

                .wrap-slug {
                    min-width: 162px;

                    h3 {}
                }

                .wrap-genres {
                    min-width: 124px;

                    span {}
                }

                .wrap-actor {
                    min-width: 120px;

                    span {}
                }

                .wrap-country {
                    min-width: 120px;

                    span {}
                }

                .wrap-description {
                    min-width: 720px;
                    overflow-x: auto;
                }

                .wrap-views {
                    min-width: 60px;

                    span {}
                }

                .wrap-likes {
                    min-width: 60px;

                    span {}
                }

                .wrap-un-likes {
                    min-width: 60px;

                    span {}
                }

                .wrap-avr-likes {
                    min-width: 60px;

                    span {}
                }

                .wrap-server1 {
                    min-width: 345px;

                    span {}
                }

                .wrap-server2 {
                    min-width: 345px;

                    span {}
                }

                .wrap-server3 {

                    span {}
                }

                .wrap-time {
                    min-width: 128px;

                    span {}
                }
            }

            .film-item-after {
                display: flex;
                justify-content: center;
                position: sticky;
                margin-top: 24px;
                left: 0;

                button {
                    display: block;
                    font-size: 1.6rem;
                    padding: 4px 8px;
                    border: 1px solid var(--black-color);
                    background-color: unset;

                    &:hover {
                        opacity: .8;
                        cursor: pointer;
                    }
                }

                button+button {
                    margin-left: 6px;
                }
            }

        }
    }
}