.second {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;

    .icon {
        position: relative;
        cursor: pointer;

        &.icon+.icon {
            margin-left: 6px;
        }

        &:hover::before {
            content: attr(star) attr(test);
            position: absolute;
            font-size: 1.4rem;
            bottom: 110%;
            left: 50%;
            transform: translateX(-65%);
        }

        &:hover svg {
            font-size: 3.2rem;
            color: yellow;
        }

        svg {
            font-size: 2.2rem;
            color: #ccc;
            position: relative;
            content: 'xin chao';
        }
    }
}