.wrap-footer {
    background-color: var(--header-layout);
    padding: 16px;

    .footer-wrap-content {

        p {
            color: #eee;
            font-size: 1.6rem;
            text-align: center;
            margin: 0;
        }
    }
}