.wrap-fliter-movie {

    .filter-movie {
        margin: 16px 16px 0;

        .filter-first {

            .filter-topic {
                color: var(--orange-color);
                font-size: 1.6rem;
            }

            .toggle-genres {
                display: inline-block;
                background: var(--orange-color);
                padding: 4px 6px;
                border-radius: 6px;
                margin-left: 12px;

                &:hover {
                    cursor: pointer;
                    opacity: .8;
                }

                svg {
                    color: #000;
                    font-size: 1.6rem;
                }

                span {
                    margin-left: 4px;
                    padding: 6px 4px;
                    color: #000;
                    font-size: 1.6rem;
                    border-radius: 6px;
                }
            }

            .filter-genres-list {
                margin-top: 12px;

                .filter-genres-item {
                    border: 1px solid #eee;
                    text-align: center;
                    padding: 4px 0;
                    color: #eee;
                    font-size: 1.6rem;

                    &:hover {
                        opacity: .7;
                        cursor: pointer;
                    }
                }
            }
        }

        .filter-second {
            margin-top: 16px;

            .menu {

                .filter-topic {
                    color: var(--orange-color);
                    font-size: 1.6rem;
                }

                select {
                    outline: none;
                    margin-left: 12px;
                    font-size: 1.4rem;
                    background: var(--inner-layout);
                    border: 1px solid var(--border-color);
                    color: #fff;
                    border-radius: 6px;
                    padding: 4px 6px;
                    cursor: pointer;
                }
            }
        }

        .btn-filter {
            margin: 0 auto;
            display: block;
            margin-top: 16px;
            padding: 4px 12px;
            border-radius: 6px;
            background: var(--orange-color);
            font-size: 1.8rem;

            &:hover {
                cursor: pointer;
                opacity: .7;
            }
        }
    }

    .wrap-film-filter {}
}


// mobile and table
@media (max-width: 63.9375em) {
    .wrap-fliter-movie {

        .filter-movie {

            .filter-first {

                .filter-topic {}

                .toggle-genres {

                    &:hover {}

                    svg {}

                    span {}
                }

                .filter-genres-list {

                    .filter-genres-item {

                        &:hover {}
                    }
                }
            }

            .filter-second {

                .menu {

                    .filter-topic {}

                    select {}
                }

                .top-films {
                    margin-top: 12px;
                }
            }

            .btn-filter {

                &:hover {}
            }
        }
    }
}

// mobile
@media (max-width: 46.1875em) {
    .wrap-home {
        .wrap-topic {}

        .wrap-bottom-body {
            margin: 0 16px;
        }
    }
}

// table
@media (min-width:46.25em) and (max-width: 63.9375em) {}

// pc resoluction small
@media (min-width:64em) and (max-width: 77.4375em) {}

// pc resoluction big
@media (min-width:77.5em) {}