.wrap-box {
    background-color: #000;
    height: 1000px;
    width: 500px;
    margin: 0 auto;

    .box1 {
        color: red;
        height: 2000px;
        font-size: 4.4rem;
        background-color: yellow;
        position: fixed;
    }
}