.nominated-movie {
    margin: 12px 12px 0;
    background-color: #242525;
    display: flex;
    position: relative;

    .title {
        font-size: 2rem;
        color: #fff;
        padding: 9px 12px;
        background-color: #000;
        display: inline-block;
        position: relative;
        font-weight: 600;
    }

    .title::after {
        display: block;
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        border-style: solid;
        border-color: transparent transparent transparent #000;
        border-width: 20px;
    }
}