.notification {
    padding: 12px;
    background: #404040;
    margin: 12px;
    border-radius: 6px;

    .wrap-infor {

        &.wrap-infor+.wrap-infor {
            margin-top: 24px;
        }

        .notification-title {
            color: #f98d8d;
            border-bottom: 4px solid #f98d8d;
            font-size: 2.4rem;
        }

        .notification-content {
            color: #ccc;
            font-size: 2rem;
        }

        .notification-time {
            color: #ccc;
            font-size: 2rem;
        }

    }

}