.navbar {
    margin: 0 auto;
    position: sticky;
    z-index: 1;
    top: 0px;

    .navbar-list {
        display: flex;
        align-items: center;
        overflow-x: auto;
        background-color: #000;

        &::-webkit-scrollbar {
            height: 6px;
        }


        .navbar-item {
            margin: 8px;
            flex-shrink: 0;

            .wrap-topic {
                padding: 0 10px;
                height: 28px;
                display: flex;
                border-radius: 6px;
                background: var(--inner-layout);
                align-items: center;
                justify-content: center;

                &:hover {
                    opacity: .8;
                    cursor: pointer;
                }

                svg {
                    color: var(--orange-color);
                    font-size: 1.5rem;
                    margin-top: -1px;
                }

                .topic {
                    color: #eee;
                    font-size: 1.5rem;
                }

                svg+.topic {
                    margin-left: 6px;
                }
            }
        }

        .navbar-genre {
            margin: 8px;
            flex-shrink: 0;

            .wrap-genre-topic {
                padding: 0 10px;
                height: 28px;
                display: flex;
                border-radius: 6px;
                background: var(--inner-layout);
                align-items: center;
                justify-content: center;
                color: var(--white-color);
                font-size: 1.6em;

                &:hover {
                    opacity: .8;
                    cursor: pointer;
                }

                .genre-topic {}

                svg {
                    margin-left: 4px;
                }
            }

            .genre-list {
                position: absolute;
                top: 100%;
                background: var(--outer-layout);
                border-top: 1px solid #453a3a;
                padding: 0 2px 4px;
                margin-left: -4px;

                .genre-item {

                    a {
                        display: block;
                        font-size: 1.5em;
                        padding: 6px 20px;
                        background: var(--inner-layout);
                        color: #eee;
                        border-radius: 6px;
                        text-align: center;
                        margin: 4px 2px 0;

                        &:hover {
                            background-color: #423e3e;
                        }
                    }
                }
            }
        }

        .navbar-actor {
            margin: 8px;
            flex-shrink: 0;

            .wrap-actor-topic {
                padding: 0 10px;
                height: 28px;
                display: flex;
                border-radius: 6px;
                background: var(--inner-layout);
                align-items: center;
                justify-content: center;
                color: var(--white-color);
                font-size: 1.6em;

                &:hover {
                    opacity: .8;
                    cursor: pointer;
                }

                .actor-topic {}

                svg {
                    margin-left: 4px;
                }
            }

            .actor-list {
                position: absolute;
                top: 100%;
                background: var(--outer-layout);
                border-top: 1px solid #453a3a;
                padding: 0 2px 4px;
                margin-left: -4px;

                .actor-item {

                    a {
                        display: block;
                        font-size: 1.5em;
                        padding: 6px 10px;
                        background: var(--inner-layout);
                        color: #eee;
                        border-radius: 6px;
                        text-align: center;
                        margin: 4px 2px 0;

                        &:hover {
                            background-color: #423e3e;
                        }
                    }
                }
            }
        }

        .navbar-country {
            margin: 8px;
            flex-shrink: 0;

            .wrap-country-topic {
                padding: 0 10px;
                height: 28px;
                display: flex;
                border-radius: 6px;
                background: var(--inner-layout);
                align-items: center;
                justify-content: center;
                color: var(--white-color);
                font-size: 1.6em;

                &:hover {
                    opacity: .8;
                    cursor: pointer;
                }

                .country-topic {}

                svg {
                    margin-left: 4px;
                }
            }

            .country-list {
                position: absolute;
                top: 100%;
                background: var(--outer-layout);
                border-top: 1px solid #453a3a;
                width: 350px;
                padding: 0 2px 4px;
                margin-left: -4px;

                .country-item {

                    a {
                        display: block;
                        font-size: 1.5em;
                        padding: 6px 20px;
                        background: var(--inner-layout);
                        color: #eee;
                        border-radius: 6px;
                        text-align: center;
                        margin: 4px 2px 0;

                        &:hover {
                            background-color: #423e3e;
                        }
                    }
                }
            }
        }

        .navbar-top-movie {
            margin: 8px;
            flex-shrink: 0;

            .wrap-top-movie-topic {
                padding: 0 10px;
                height: 28px;
                display: flex;
                border-radius: 6px;
                background: var(--inner-layout);
                align-items: center;
                justify-content: center;
                color: var(--white-color);
                font-size: 1.6em;

                &:hover {
                    opacity: .8;
                    cursor: pointer;
                }

                .top-movie-topic {}

                svg {
                    margin-left: 4px;
                }
            }

            .top-movie-list {
                position: absolute;
                top: 100%;
                background: var(--outer-layout);
                border-top: 1px solid #453a3a;
                padding: 0 2px 4px;
                margin-left: -380px;

                .top-movie-item {

                    a {
                        display: block;
                        font-size: 1.5em;
                        padding: 6px 20px;
                        background: var(--inner-layout);
                        color: #eee;
                        border-radius: 6px;
                        text-align: center;
                        margin: 4px 2px 0;

                        &:hover {
                            background-color: #423e3e;
                        }
                    }
                }
            }
        }
    }
}


// mobile and table
@media (max-width: 63.9375em) {}

// mobile
@media (max-width: 46.1875em) {}

// table
@media (min-width:46.25em) and (max-width: 63.9375em) {}

// pc resoluction small
@media (min-width:64em) and (max-width: 77.4375em) {}

// pc resoluction big
@media (min-width:77.5em) {}