.form-defined-code {
    margin: 12px 12px;
    padding: 24px;
    background-color: #404040;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 500px;

    .before {

        label {
            color: #ccc;
            font-size: 1.8rem;
            margin-top: 12px;
            width: 100%;
            display: block;
        }

        input {
            margin-top: 6px;
            font-size: 1.4rem;
            background-color: #000;
            color: #666;
            border: none;
            padding: 12px 10px;
            width: 480px;
            outline: none;
            width: 100%;
        }

        p {
            color: #999;
            font-size: 1.4rem;
            margin-top: 6px;
            width: 100%;
            display: block;
        }
    }

    .after {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;

        .btn-defined {
            padding: 8px 8px;
            color: #fff;
            border-radius: 4px;
            border: none;
            font-size: 1.4rem;
            background-color: #b73a3a;

            &:hover {
                cursor: pointer;
                opacity: .8;
            }
        }

        div {
            padding: 8px 8px;
            color: #fff;
            border-radius: 4px;
            border: none;
            font-size: 1.4rem;
            background-color: #6b4590;

            &:hover {
                cursor: pointer;
                opacity: .6;
            }
        }
    }
}

.form-update-password {
    border-radius: 6px;
    padding: 24px;

    div {
        display: flex;
        flex-direction: column;
        position: relative;

        label {
            color: #ccc;
            font-size: 1.8rem;
            margin-top: 28px;
            width: 100%;
            display: block;
        }

        input {
            margin-top: 12px;
            font-size: 1.4rem;
            background-color: #000;
            color: #ccc;
            border: none;
            padding: 12px 10px;
            width: 480px;
            outline: none;
        }

        svg {
            color: rgb(255, 255, 255);
            display: inline-block;
            position: absolute;
            top: 72px;
            font-size: 1.6rem;
            right: 16px;
        }

        p {
            color: #ccc;
            font-size: 1.4rem;
            margin: 12px 0 0;
            width: 480px;
            text-align: justify;
        }
    }

    .btn-update {
        padding: 8px 8px;
        color: #fff;
        margin: 0 auto;
        border-radius: 4px;
        border: none;
        font-size: 1.4rem;
        background-color: #b73a3a;

        &:hover {
            cursor: pointer;
            opacity: .8;
        }
    }
}